.carousel {
    position: relative;
    overflow: hidden;
    height: 35em;
    .slides {
        display: flex;
        position: absolute;
        transition: 1s ease-in-out all;
        left : 0;
    }
}

.previous-button, .next-button {
    width: 2em;
    height: 1.3em;
    margin-top: 0.5em;
    font-size: 2em;
}

@media only screen and (min-width: 0) {
    .carousel {
        width: 18em;
    }
}

@media only screen and (min-width: 425px) {
    .carousel {
        width: 25em;
    }
}

@media only screen and (min-width: 585px) {
    .carousel {
        width: 35em;
    }
}

@media only screen and (min-width: 768px) {
    .carousel {
        width: 45em;
    }
}

@media only screen and (min-width: 1142px) {
    .carousel {
        width: 60em;
    }
}