body {
    background: $primary-color;
    color: $secondary-color;
    list-style: none;
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

h1 {
    text-align: center;
    font-size: 3em;
    padding: 1em;
}

button {
    cursor: pointer;
    border: solid white 1px;
    background: none;
    color: $secondary-color;
    font-size: 2em;
    &:hover {
        background: $secondary-color;
        color: $primary-color;
    }
}

.index-menu {
    margin-bottom: 1em;
    width: 10em;
    height: 2em;
}

nav {
    display: flex;
    justify-content: center;
    margin-top: 1em;
    .page-menu {
        font-size: 1em;
        margin-right: 1em;
        border: none;
    }
}


@media only screen and (max-width: 500px) {
    nav {
        flex-direction: column;
        align-items: center;
        font-size: 1.2em;
        .page-menu {
            margin-bottom: 1em;
            border: solid $secondary-color 1px;
            padding: 0.5em;
            width: 10em;
        }
    }
}