// main color
$primary-color: #2c2c2c;
$secondary-color : #e2e2e2;

//monster slayer color
$hp : #084b1c;
$button-start : #92e2ad;
$button-start-hover : #45ad68;
$button-attack : #c44e4e;
$button-attack-hover : #af2828;
$button-speacial-attack : #cc8849;
$button-speacial-attack-hover : #c0732c;
$button-heal : #96d890;
$button-heal-hover : #5ccf52;
$button-give-up : #747474;
$button-give-up-hover : #5a5a5a;