@import "reset";

$primary-color: #2c2c2c;
$secondary-color : #e2e2e2;

body {
    background: $primary-color;
}

h1 {
    text-align: center;
    font-size: 3em;
    padding: 1em;
}

h1, span {
    color: $secondary-color;
}

button {
    cursor: pointer;
}