@import "reset";

$primary-color: #2c2c2c;
$secondary-color : #e2e2e2;

body {
    background: $primary-color;
    font-size: 2em;
    color: $secondary-color;
}

h1 {
    text-align: center;
    font-size: 3em;
    padding: 1em;
}

input:first-child {
    margin: 0 0 1em 1em;
}

button {
    cursor: pointer;
}

ul {
    list-style-type: circle;
    margin-left: 2em;
}