@import "reset";

$primary-color: #2c2c2c;
$secondary-color : #e2e2e2;

body {
    background: $primary-color;
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

h1 {
    color: $secondary-color;
    text-align: center;
    font-size: 3em;
    padding: 1em;
}

.carousel {
    position: relative;
    overflow: hidden;
    width: 60em;
    height: 35em;
    .slides {
        display: flex;
        position: absolute;
        transition: 1s ease-in-out all;
    }
}

button {
    cursor: pointer;
    color: $secondary-color;
    border: solid white 1px;
    font-size: 2em;
    width: 2em;
    height: 1.3em;
    background: none;
    margin-top: 0.5em;
    &:hover {
        background: $secondary-color;
        color: $primary-color;
    }
}
