$background-color: #2c2c2c;
$title-color : #e2e2e2;

body {
    background: $background-color;
    h1 {
        color: $title-color;
        text-align: center;
    }
}

img {
    width: 100%;
    opacity: 0;
}